<a href="index.html" class="logo">
    <img src="partials/logoweb2.png" alt="Logo TournamentMS">
</a>

<div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>

<ul class="nav-links" id="nav-links">
    <li><a href="index.html">Home</a></li>
    <li><a href="tournaments.html">Tournament</a></li>
    <li id="nav-login"><a href="login.html">Login</a></li>
    <li id="nav-register"><a href="register.html">Register</a></li>
    <li id="nav-logout" style="display: none;"><a href="#" onclick="logout(event)">Logout</a></li>
</ul>